{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<style>
    body{
        background: url('{{url_for("static", filename="bg.jpg")}}');
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>
<div class="para" style="margin-top: 15%;">
  <h3 class="megaHeading">A Multi-Dimensional audio recording service using...</h3>
  <h3 class="megaHeading">Just the <label style="border-bottom: 2px solid #38fd07;">Software</label></h3>
</div>
{% endblock %}
